:root {
  --primary-color: #e95a08;
  --text-50: rgba(0, 0, 0, 0.5);
  --primary-font: 'Inter';
  --secondary-font: 'Noto Serif';
}

html {
  scroll-behavior: smooth;
  font-size: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s ease;
  font-family: var(--primary-font);
  font-size: 1rem;
}

h1 {
  font-family: var(--secondary-font);
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 700;
}

.text-main {
  color: var(--primary-color);
}

.father-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-border {
  border: 1px solid black;
  border-radius: 10px;
}
