:root {
  --primary-color: #e95a08;
  --text-black-50: rgba(20, 20, 20, 0.75);
  --primary-font: 'Inter';
  --secondary-font: 'Noto Serif';
}

html {
  scroll-behavior: smooth;
  font-size: 22px;
}

* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
  transition: 0.3s ease;
  font-family: var(--primary-font);
  font-size: 1rem;
}

p {
  font-size: 1.4rem;
  margin: 1.5rem 0;
  color: var(--text-black-50);
  line-height: normal;
}

h1,
.h1 {
  font-family: var(--secondary-font);
  font-size: 4rem;
  font-weight: 700;
}

h2,
.h2 {
  font-family: var(--secondary-font);
  font-size: 3rem;
  font-weight: 700;
}

h3,
.h3 {
  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 700;
}

.primary-color {
  color: var(--primary-color);
}

.father-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f8ff;
}

.test-border {
  border: 1px solid black;
  border-radius: 10px;
}

.mid-80 {
  width: 80%;
}

.inline-child {
  display: inline-flex;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
}
.nav-bar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.nav-left img {
  width: 200px;
  height: auto;
}

.nav-right {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-right-item-1,
.nav-right-item-2,
.nav-right-item-3,
.nav-right-item-4 {
  margin: 0 1.5rem;
}

.nav-right-item-2,
.nav-right-item-3 {
  color: var(--text-black-50);
}

.nav-right-item-4 img {
  width: 30px;
  height: auto;
  margin-right: 0.5rem;
}

.each-section {
  margin-top: 200px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.banner-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.banner-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.banner-right img {
  width: 100%;
  height: auto;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plants {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plants-desc {
  text-align: center;
}

.plants-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: space-between;
}

.plants-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plants-card img {
  width: 100%;
  margin: 10px;
  height: auto;
}
.plants-card span {
  margin: 5px;
  font-size: 1.2rem;
}

.plants-card button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
  padding: 1rem;
  cursor: pointer;
}

.plant-lover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plant-lover-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.plant-lover-left-lower-image img {
  width: 90%;
}

.plant-lover-left-upper-image img {
  width: 400px;
  position: absolute;
  top: -25%;
  right: -12%;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  animation: spin 20s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.plant-lover-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.latest-deals {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-deals-desc {
  text-align: center;
  width: 66%;
}

.deals-cards {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}

#bloom-plant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/deal-bloom.png');
}

#ana-plant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/deal-ana.png');
}

#zabo-plant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/deal-zabo.png');
  grid-row: span 2;
  grid-column: span 2;
}

#bloom-plant,
#ana-plant,
#zabo-plant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f8ff;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
}

#bloom-plant h3,
#ana-plant h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

.join {
  color: #f5f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 12%;
  background-image: url('../assets/news-letter-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.join-form {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.join-form input[type='text'] {
  color: var(--text-black-50);
  width: 75%;
  background-color: #f5f8ff;
  padding: 0.75rem;
  border: none;
}

.join-form input[type='button'] {
  width: 25%;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  padding: 0.75rem 0;
  border: none;
  cursor: pointer;
}

.footer {
}

.footer-left {
}

.footer-mid {
}

.footer-right {
}
